:root{
    --color-dark: hsl(252,30%,17%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(264, 2%, 54%);
    --color-primary: hsl(252,75%,60%);
    --color-success: hsl(252,100%,98%);
    --color-danger: hsl(120,95%,65%);
    --color-black: hsl(252,30%,10%);
    --color-background : white;

    --border-radius: 2rem;
    --cart-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6 1rem;
    --cart-padding: 1rem;
}

*{
    margin: 0;
    padding: 0;
    outline: 50px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);

}

.container {
    width: 80%;
    margin: 0 auto;
}

.profile-pic {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin: auto auto;
}

img{
    width: 100%;
    display: block;
}

.img-fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary{
    background-color: var(--color-primary);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray)
}

nav {
    width: 100%;
    background-color: var(--color-background);
    padding: 0.7rem 0;
    position: fixed;
    top: 0px;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.search-bar{
    background: rgba(87, 84, 84, 0.205);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

nav .search-bar input[type="search"] {
    background: transparent;
    width: 30vh;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .creat {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main {
    position: relative;
    top: 5.4rem;
}
main .container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    position: relative;
    justify-content: space-between;
}

main .container .left {
    height: 87vh;
    position: sticky;
    top: 4rem;
    display: flex;
    flex-direction: column;
}


main .profile .profile-pic{
    min-width: 2rem;
}

main .container .left .profile{
    padding: var(--cart-padding);
    background: var(--color-background);
    border-radius: var(--cart-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    overflow: hidden;
    width: 100%;
}

.left .slidebar {
    height: 80%;
    margin-top: 1rem;
    background: var(--color-background);
    border-radius: var(--cart-border-radius);

}

.left .slidebar .menu-item{
    width: 100%;
    display: flex;
    align-items: center;
    height: 11.5%;
    cursor: pointer;
    transition: 300ms ease;
    position: relative;
}

.left .slidebar .menu-item:hover {
    background-color: var(--color-gray);
}



.left .slidebar i {
    color: rgba(97, 97, 97, 0.829);
    margin-left: 2rem;
    position: relative;
}
.left .slidebar .notification-count{
    background-color: red;
    font-size: 0.5rem;
    border-radius: 1rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    left: 1.4rem;
}

.left .slidebar .h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}



.left .slidebar .active i,
.left .slidebar .active h3{
    color: var(--color-primary);
}
.left .slidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    z-index: 0;
    background-color: var(--color-primary);
    position: absolute;
}

.left .slidebar a:nth-child(1){
    overflow: hidden;
    border-radius:  1rem 1rem 0 0;
}

.left .slidebar :nth-child(7){
    border-radius:  0 0 1rem 1rem;
}
.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.left .notification-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 19rem;
    background-color: var(--color-background);
    border-radius: var(--cart-border-radius);
    padding: var(--cart-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary),75%,60%,25%);
    z-index: 9;
    display: none;
}

.left .notification-popup::before{
    content: "";
    width: 1.2em;
    height: 1.2em;
    display: block;
    background: red;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}
.left .notification-popup > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notification-popup small{
    display: block;
}

.midle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: 1rem;
    max-width: 24rem;
}

.midle .stories .story{
    flex: 1;
    padding: var(--cart-padding);
    border-radius: var(--cart-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    position: relative;
    overflow: hidden;
    color: white;
}

.midle .stories .story .profile-pic{
    height: fit-content;
}

.midle .stories .story:nth-child(1){
    background: url(../image/profile-pic.jpg) no-repeat center center  / cover;
}

.midle .stories .story:nth-child(2){
    background: url(../image/khairul.jpg) no-repeat center center  / cover;
}

.midle .stories .story:nth-child(3){
    background: url(../image/profile-pic.jpg) no-repeat center center  / cover;
}

.midle .stories .story:nth-child(4){
    background: url(../image/khairul.jpg) no-repeat center center  / cover;
}

.midle .stories .story::before{
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent,rgba(0,0,0,0.75));
}

.midle .stories .story .name{
    z-index: 2;
}

.midle .stories .story .profile-pic{
    align-self: start;
    border: 3px solid var(--color-primary);
}

.midle .creat-post{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3rem var(--cart-padding) 1rem var(--cart-padding);
    border-radius: var(--border-radius);
}

.midle .creat-post input[type='text']{
    width: 100%;
    padding-left: 1rem;
    background-color: transparent;
    color: var(--color-dark);
}

.midle .feeds .feed{
    line-height: 1.5;
    background: var(--color-background);
    border-radius: var(--cart-border-radius);
    padding: var(--cart-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
}

.midle .feed .head{
    display: flex;
    justify-content: space-between;
}

.midle .feed .user{
    display: flex;
    gap: 1rem;
}

.midle .feeds .photo{
    border-radius: var(--cart-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.midle .feeds .action-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}

.midle .liked-by{
    display: flex;
    height: 1.4rem;
    overflow: hidden;
}

.midle .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    margin-left: -0.6rem;
}

.midle .liked-by span img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.midle .liked-by p{
    margin-left: 0.5rem;
}

main .container .right{
    height: 87vh;
    position: sticky;
    top: 5rem;
    z-index: 3;
}

.right .massages{
    background-color: var(--color-background);
    border-radius: var(--cart-border-radius);
    padding: var(--cart-padding);
    overflow: hidden;
}

#massage-search{
    background-color: transparent;
}

.massages .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .massages .search-bar{
    display: flex;
    margin-bottom: 1rem;
}

.right .catagory h6:nth-child(3){
    color: var(--color-primary);
}

.right .massages .catagory{
    display: flex;
    justify-content: space-between;
}

.right .massages .catagory h6{
    width: 31%;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;

}

.right .massages .catagory .active{
    border-bottom: 4px solid var(--color-dark);
}

.right .massages .massage{
    display: flex;
    gap: 1rem;
}

.right .massages .massage p{
    font-size: 0.8rem;
}

.right .massages .massage .profile-pic{
    overflow: visible;
    position: relative;
}

.right .massages .massage img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.right .massages .massage .active{
    width: .5rem;
    background-color: rgba(14, 219, 14, 0.829);
    border-radius: var(--cart-border-radius);
    align-self: center;
    aspect-ratio: 1/1;
    position: relative;
    bottom: 19%;
    left: 83%;
}

.right .friend-req h4{
    margin-top: 1rem;
    color: var(--color-gray);
    margin-bottom: 1rem;
}

.right .request{
    padding: var(--cart-padding);
    border-radius: var(--cart-border-radius);
    background-color: var(--color-background);
}

.request .info{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.right .request .action{
    display: flex;
    gap: 1rem;
}

.customize-them{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem;
    display: none;
}

.customize-them .card{
    background-color: rgb(202, 201, 201);
    border-radius: var(--cart-border-radius);
    padding: 3rem;
    width: 50%;
}

.customize-them .font-size{
    margin-top: 5rem;
}

.customize-them .font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--search-padding);
    border-radius: var(--cart-border-radius);
}

.customize-them .choose-size{
    height: 0.3rem;
    width: 100%;
    background-color: hsla(252, 75%, 60%, 0.575);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.customize-them .choose-size span{
    height: 1rem;
    width: 1rem;
    background-color: hsla(252, 75%, 60%, 0.596);
    border-radius: 500%;
    cursor: pointer;
}

.customize-them .choose-size span.active{
    background-color: var(--color-primary);
}

.customize-them .color{
    margin-top: 2rem;
}
.customize-them .color .choose-color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--search-padding);
    border-radius: var(--cart-border-radius);
}

.customize-them .color .choose-color span{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.customize-them .color .choose-color span:nth-child(1){
    background-color: var(--color-primary);
}

.customize-them .color .choose-color span:nth-child(2){
    background-color: rgb(255, 252, 59);
}

.customize-them .color .choose-color span:nth-child(3){
    background-color: rgb(209, 3, 106);
}

.customize-them .color .choose-color span:nth-child(4){
    background-color: rgb(37, 255, 109);
}

.customize-them .color .choose-color span:nth-child(5){
    background-color: rgb(0, 231, 200);
}

.customize-them .color .choose-color span.active{
    height: 2rem;
    width: 2rem;
}

.customize-them .background{
    margin-top: 2rem;
}

.customize-them .choose-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-them .choose-bg > div{
    padding: var(--cart-padding);
    width: 27%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customize-them .choose-bg > div.active{
    border: 2px solid var(--color-primary);
}

.customize-them .choose-bg .bg-1{
    background-color: var(--color-background);
}

.customize-them .choose-bg .bg-2{
    background: hsl(254, 30%, 17%);
    color: white;
}

.customize-them .choose-bg .bg-3{
    background: hsl(254, 30%, 10%);
    color: white;
}

.customize-them .choose-bg span{
    width: 2rem;
    aspect-ratio: 1/1;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
}


@media screen and (max-width:992px){
    .search-bar{
        display: none;
    }

    .container{
        grid-template-columns: 10% 80% 5rem;
    }

    .btn {
        display: none;
    }
    
    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 12%;
    }

    main .container .left .profile{
        display: none;
    }

    .left .notification-popup{
        position: absolute;
        width: 20rem;
        left: -20rem;
        top: 0;
        z-index: 10;
    }

    .notification-popup::before{
        position: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;

    }

    .container .left .slidebar > a h3{
        display: none;
    }

    main .container .midle{
        grid-column: span 2;

    }

    main .container .right{
        display: none;
    }

    .customize-them .card{
        width: 88%;
    }
}